openapi: 3.2.0
info:
  title: Microsoft Graph Visio Comments Documents API
  description: REST API for accessing and interacting with Visio files stored in SharePoint Online and OneDrive for Business through Microsoft Graph. Provides operations for reading pages, shapes, shape data, comments, and hyperlinks from Visio diagrams.
  version: 1.0.0
  contact:
    name: Microsoft Graph Support
    url: https://developer.microsoft.com/graph/support
  license:
    name: Microsoft API Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 production endpoint
security:
- oauth2:
  - Files.Read
  - Files.ReadWrite
tags:
- name: Documents
  description: Operations for Visio document metadata.
paths:
  /me/drive/items/{item-id}/workbook:
    get:
      operationId: getVisioDocument
      summary: Microsoft Visio Get Document
      description: Retrieve metadata for a Visio document stored in OneDrive or SharePoint.
      tags:
      - Documents
      parameters:
      - name: item-id
        in: path
        required: true
        description: The ID of the Visio file in OneDrive.
        schema:
          type: string
      responses:
        '200':
          description: Document metadata returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisioDocument'
              examples:
                GetVisioDocument200Example:
                  summary: Default getVisioDocument 200 response
                  x-microcks-default: true
                  value:
                    id: doc-abc123
                    name: NetworkDiagram.vsdx
        '401':
          description: Unauthorized.
        '404':
          description: Document not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    VisioPage:
      type: object
      description: Represents a page in a Visio document.
      properties:
        id:
          type: string
          description: Unique identifier for the page.
          example: page-001
        name:
          type: string
          description: The name of the page.
          example: Page-1
        index:
          type: integer
          description: Zero-based index of the page.
          example: 0
        height:
          type: number
          format: double
          description: Height of the page in points.
          example: 792.0
        width:
          type: number
          format: double
          description: Width of the page in points.
          example: 612.0
    VisioDocument:
      type: object
      description: Represents a Visio document.
      properties:
        id:
          type: string
          description: Unique identifier for the document.
          example: doc-abc123
        name:
          type: string
          description: The name of the document.
          example: NetworkDiagram.vsdx
        pages:
          type: array
          description: Collection of pages in the document.
          items:
            $ref: '#/components/schemas/VisioPage'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization using Microsoft Identity Platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.Read: Read user files
            Files.ReadWrite: Read and write user files
