openapi: 3.2.0
info:
  title: Microsoft Graph Visio Comments Hyperlinks API
  description: REST API for accessing and interacting with Visio files stored in SharePoint Online and OneDrive for Business through Microsoft Graph. Provides operations for reading pages, shapes, shape data, comments, and hyperlinks from Visio diagrams.
  version: 1.0.0
  contact:
    name: Microsoft Graph Support
    url: https://developer.microsoft.com/graph/support
  license:
    name: Microsoft API Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 production endpoint
security:
- oauth2:
  - Files.Read
  - Files.ReadWrite
tags:
- name: Hyperlinks
  description: Operations for reading shape hyperlinks.
paths:
  /me/drive/items/{item-id}/workbook/pages/{page-id}/shapes/{shape-id}/hyperlinks:
    get:
      operationId: listShapeHyperlinks
      summary: Microsoft Visio List Shape Hyperlinks
      description: Retrieve hyperlinks associated with a shape.
      tags:
      - Hyperlinks
      parameters:
      - name: item-id
        in: path
        required: true
        description: The ID of the Visio file.
        schema:
          type: string
      - name: page-id
        in: path
        required: true
        description: The ID of the page.
        schema:
          type: string
      - name: shape-id
        in: path
        required: true
        description: The ID of the shape.
        schema:
          type: string
      responses:
        '200':
          description: Hyperlinks returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HyperlinkCollection'
              examples:
                ListShapeHyperlinks200Example:
                  summary: Default listShapeHyperlinks 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: hyperlink-001
                      address: https://contoso.com/wiki/server-01
                      description: Server documentation page
                      subAddress: ''
        '401':
          description: Unauthorized.
        '404':
          description: Shape not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    HyperlinkCollection:
      type: object
      description: Collection of hyperlinks.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VisioHyperlink'
    VisioHyperlink:
      type: object
      description: Represents a hyperlink associated with a shape.
      properties:
        id:
          type: string
          description: Unique identifier for the hyperlink.
          example: hyperlink-001
        address:
          type: string
          format: uri
          description: The URL target of the hyperlink.
          example: https://contoso.com/wiki/server-01
        description:
          type: string
          description: Description of the hyperlink.
          example: Server documentation page
        subAddress:
          type: string
          description: Sub-address target within the document.
          example: ''
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization using Microsoft Identity Platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.Read: Read user files
            Files.ReadWrite: Read and write user files
