openapi: 3.0.3
info:
  title: Microsoft Graph Visio Comments Shapes API
  description: REST API for accessing and interacting with Visio files stored in SharePoint Online and OneDrive for Business through Microsoft Graph. Provides operations for reading pages, shapes, shape data, comments, and hyperlinks from Visio diagrams.
  version: 1.0.0
  contact:
    name: Microsoft Graph Support
    url: https://developer.microsoft.com/graph/support
  license:
    name: Microsoft API Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 production endpoint
security:
- oauth2:
  - Files.Read
  - Files.ReadWrite
tags:
- name: Shapes
  description: Operations for managing shapes on pages.
paths:
  /me/drive/items/{item-id}/workbook/pages/{page-id}/shapes:
    get:
      operationId: listShapes
      summary: Microsoft Visio List Shapes
      description: Retrieve a list of shapes on a page.
      tags:
      - Shapes
      parameters:
      - name: item-id
        in: path
        required: true
        description: The ID of the Visio file.
        schema:
          type: string
      - name: page-id
        in: path
        required: true
        description: The ID of the page.
        schema:
          type: string
      responses:
        '200':
          description: Shapes returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShapeCollection'
              examples:
                ListShapes200Example:
                  summary: Default listShapes 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: shape-001
                      name: Server
                      text: Web Server 01
                      type: GenericShape
        '401':
          description: Unauthorized.
        '404':
          description: Page not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /me/drive/items/{item-id}/workbook/pages/{page-id}/shapes/{shape-id}:
    get:
      operationId: getShape
      summary: Microsoft Visio Get Shape
      description: Retrieve a specific shape from a page.
      tags:
      - Shapes
      parameters:
      - name: item-id
        in: path
        required: true
        description: The ID of the Visio file.
        schema:
          type: string
      - name: page-id
        in: path
        required: true
        description: The ID of the page.
        schema:
          type: string
      - name: shape-id
        in: path
        required: true
        description: The ID of the shape.
        schema:
          type: string
      responses:
        '200':
          description: Shape returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisioShape'
        '401':
          description: Unauthorized.
        '404':
          description: Shape not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ShapeCollection:
      type: object
      description: Collection of shapes.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VisioShape'
    VisioShape:
      type: object
      description: Represents a shape on a Visio page.
      properties:
        id:
          type: string
          description: Unique identifier for the shape.
          example: shape-001
        name:
          type: string
          description: The name of the shape.
          example: Server
        text:
          type: string
          description: The text content of the shape.
          example: Web Server 01
        type:
          type: string
          description: The shape type.
          example: GenericShape
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization using Microsoft Identity Platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.Read: Read user files
            Files.ReadWrite: Read and write user files
