openapi: 3.0.3
info:
  title: Microsoft Graph Visio Comments API
  description: REST API for accessing and interacting with Visio files stored in SharePoint Online and OneDrive for Business through Microsoft Graph. Provides operations for reading pages, shapes, shape data, comments, and hyperlinks from Visio diagrams.
  version: 1.0.0
  contact:
    name: Microsoft Graph Support
    url: https://developer.microsoft.com/graph/support
  license:
    name: Microsoft API Terms of Use
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 production endpoint
security:
- oauth2:
  - Files.Read
  - Files.ReadWrite
tags:
- name: Comments
  description: Operations for reading and managing shape comments.
paths:
  /me/drive/items/{item-id}/workbook/pages/{page-id}/shapes/{shape-id}/comments:
    get:
      operationId: listShapeComments
      summary: Microsoft Visio List Shape Comments
      description: Retrieve comments associated with a shape.
      tags:
      - Comments
      parameters:
      - name: item-id
        in: path
        required: true
        description: The ID of the Visio file.
        schema:
          type: string
      - name: page-id
        in: path
        required: true
        description: The ID of the page.
        schema:
          type: string
      - name: shape-id
        in: path
        required: true
        description: The ID of the shape.
        schema:
          type: string
      responses:
        '200':
          description: Comments returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentCollection'
              examples:
                ListShapeComments200Example:
                  summary: Default listShapeComments 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: comment-001
                      text: This server needs to be upgraded.
                      author: Jane Smith
                      date: '2026-04-18T10:00:00Z'
        '401':
          description: Unauthorized.
        '404':
          description: Shape not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CommentCollection:
      type: object
      description: Collection of comments.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VisioComment'
    VisioComment:
      type: object
      description: Represents a comment on a shape.
      properties:
        id:
          type: string
          description: Unique identifier for the comment.
          example: comment-001
        text:
          type: string
          description: The comment text.
          example: This server needs to be upgraded.
        author:
          type: string
          description: The author of the comment.
          example: Jane Smith
        date:
          type: string
          format: date-time
          description: When the comment was created.
          example: '2026-04-18T10:00:00Z'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization using Microsoft Identity Platform
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.Read: Read user files
            Files.ReadWrite: Read and write user files
